body {
  overflow-x: hidden;
}

a:hover {
  text-decoration: none;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

.header {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 105vh;
  padding-top: 20px;
}

.nav {
  display: flex;
  justify-content: center;
  padding-top: 12px;
  padding-bottom: 3px;
  position: absolute;
  transition: all 0.3s;
  background: #ffffff;
  z-index: 9;
  top: 0px;
  width: 100%;
}

.nav ul {
  display: flex; /* instead of inline-block*/
  align-items: center;
  flex-wrap: wrap;
}

.nav ul li {
  display: flex;
}

.nav ul li a {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.1em;
  color: #333;
  padding: 0.25rem 0;
  margin: 10px 1.8rem;
  text-transform: uppercase;
}

.nav ul li.logo .black {
  display: none;
}

.nav ul li.logo a {
  margin: 0 4rem;
}

.nav-icon {
  position: absolute;
  top: 27px;
  right: 30px;
  padding: 5px;
  width: 40px;
  z-index: 1;
  cursor: pointer;
}

.nav-icon span {
  background: #333;
  width: 30px;
  height: 1px;
  display: block;
  transition: 300ms linear all;
}

.nav-icon span:nth-child(1),
.nav-icon span:nth-child(3) {
  width: 20px;
  margin: 0 auto;
}

.nav-icon span:nth-child(2) {
  margin: 5px 0;
  width: 32px;
}

.nav-icon:hover span:nth-child(1),
.nav-icon:hover span:nth-child(3) {
  width: 30px;
}

.full-nav {
  background: #f1c30f;
  color: #18191d;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 3.75rem;
  z-index: 99;
  overflow-x: hidden;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-100px);
  transition: all 0.4s ease-in-out;
}

.full-nav.open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: all 0.4s ease-in-out;
  z-index: 99;
}

.full-nav .logo {
  display: flex;
  justify-content: center;
  padding: 4rem;
}

.nav2 {
  display: flex;
  justify-content: center;
}

.nav2 ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 700px;
}

.nav2 ul li {
  display: flex;
  flex: 50%;
  background-color: #f5f5f5;
  padding: 1rem;
  border-bottom: 10px solid #f1c30f;
  border-right: 10px solid #f1c30f;
  transition: all 0.5s;
}

.nav2 ul li a {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.4em;
  color: #18191d;
}

.nav2 ul li a span {
  color: #b9b9b9;
}

.nav2 ul li:hover {
  background-color: #ff1637;
}

.nav2 ul li:hover a,
.nav2 ul li:hover a span {
  background-color: #ffffff;
}

.social-icons a {
  color: #ffffff;
  border: 4px solid white;
  width: 50px;
  height: 50px;
  line-height: 40px;
  font-size: 20px;
  display: inherit;
  text-align: center;
  border-radius: 50px;
  transition: all ease 1s;
  margin-top: 40px;
}

.social-icons a:hover i {
  color: #000;
  margin-top: -10px;
  border-color: #000;
}

.social-icons a:hover {
  color: #000;
  margin-top: -10px;
  border-color: #000;
}

ul.social-icons.list-inline {
  text-align: center;
  margin-top: 20px;
}

.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.corner-circle {
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  height: 120px;
  background-color: #fff;
  border-radius: 0 0 0 120px;
  z-index: 2;
}

.nav-close {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 30px;
  right: 30px;
}

.nav-close span {
  background: #18191d;
  width: 30px;
  height: 1px;
  display: block;
  position: absolute;
  top: 14px;
}

.nav-close span:nth-child(1) {
  transform: rotate(45deg);
}

.nav-close span:nth-child(2) {
  transform: rotate(-45deg);
}

.nav.sticky {
  width: 100%;
  position: fixed;
  background-color: #fff;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35);
  animation-name: animationFade;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes animationFade {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
    -o-transform: none;
  }
}

.nav.sticky a {
  color: #18191d;
}

.nav.sticky ul li.logo .white {
  display: none;
}

.nav.sticky ul li.logo .black {
  display: inline-block;
}

.nav.nav.sticky .nav-icon span {
  border-right-color: #18191d;
}

video#herovideo {
  width: 100%;
}

.bx-wrapper .social-icons a {
  color: #fff;
  border: 1px solid #fff;
  width: 40px;
  height: 40px;
  font-size: 20px;
  display: inherit;
  text-align: center;
  padding-top: 5px;
  transition: all ease 1s;
  background: #000;
  border-radius: 0px;
}

.bx-wrapper .social-icons a i {
  position: relative;
  bottom: 7px;
}

.vidContent {
  position: absolute;
  top: 290px;
  color: #f1f1f1;
  width: 100%;
  padding: 10px;
  text-align: left;
}

.vidContent h1 {
  font-family: "Oswald", sans-serif;
  font-size: 5em;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.vidContent p {
  font-family: "Roboto-Condensed", sans-serif;
}

#vidBtn {
  font-family: "Roboto-Condensed", sans-serif;
  display: inline-block;
  font-size: 16px;
  padding: 15px 40px;
  border: none;
  background: #fff;
  color: #000;
  cursor: pointer;
  margin-top: 18px;
  border-radius: 50px;
  animation: shadow-pulse 2s infinite;
  text-transform: uppercase;
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}

#vidBtn:hover {
  background: #fff;
  color: #000;
  text-decoration: none;
}

.social-icons a {
  color: #333 !important;
  border: 4px solid #fff;
  width: 50px;
  height: 50px;
  line-height: 40px;
  font-size: 20px;
  display: inherit;
  text-align: center;
  border-radius: 50px;
  transition: all ease 1s;
  margin-top: 40px;
  background: #fff !important;
}

ul.social-icons.list-inline {
  text-align: center;
  margin-top: 22px;
}

.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

#about-us .carousel-indicators {
  position: static;
  padding-top: 30px;
}

#about-us .carousel-indicators li {
  background-color: #000;
  width: 12px;
  height: 12px;
  margin-left: 5px;
}

.carousel-control-prev-icon {
  background-image: url(../assets/img/left-arrow.svg);
  padding: 25px;
}

.carousel-control-next-icon {
  background-image: url(../assets/img/right-arrow.svg);
  padding: 25px;
}

#about-us .carousel-control-next,
#about-us .carousel-control-prev {
  width: auto;
}

#about-us .carousel-control-next {
  right: -35px;
}

#about-us .carousel-control-prev {
  left: -35px;
}

#about-us h3 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 600;
  color: #6c757d !important;
}
p.lead {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  color: #f7cc4b !important;
  font-weight: bold;
}

h4.text-dark {
  font-family: "Oswald", sans-serif;
  font-size: 21px;
}

p.text-secondary {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  color: darkgray !important;
}

#contents {
  margin-top: -395px;
}

#work h3 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 600;
  color: #6c757d !important;
}

.row.no-gutters [class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}

.img-wrapper {
  overflow: hidden;
}

.img-wrapper img {
  transition: ease transform 0.5s;
}

.img-wrapper img:hover {
  transform: scale(1.5);
  cursor: zoom-in;
}

img {
  width: 100%;
  height: auto;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

#team {
  text-align: center;
  color: #535353;
  padding-top: 50px;
  background-color: #fff;
  font-family: "Roboto Condensed", sans-serif;
}

#team h5 {
  font-size: 1.2rem;
  font-weight: 599;
  margin-bottom: 1.5rem;
  color: #ff1737;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#team h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 599;
  color: #6c757d;
  line-height: 1.2;
  max-width: 650px;
  margin: 0 auto 1.5rem;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
}

#team p.desc {
  max-width: 950px;
  margin: 0 auto;
  padding-bottom: 40px;
  font-family: "Roboto Condensed", sans-serif;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a:hover {
  text-decoration: none;
}

.designation {
  font-size: 17px;
}

.team-social li {
  display: inline-block;
}

.team-social li a {
  font-size: 14px;
  color: #18191d;
  height: 38px;
  width: 38px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  margin: 0;
  border: 1px solid transparent;
  border: 50%;
}

.team-img {
  position: relative;
}

.team-social.white-bg {
  background-color: #fff;
}

.team-coverflow {
  position: relative;
  overflow: hidden;
  padding: 20px;
  width: 100%;
  max-width: 370px;
  margin-left: -20px;
  background-color: #fff;
}

.team-coverflow .team-text {
  text-align: center;
  font-size: 14px;
  padding: 2rem 0 2.5rem 0;
}

.team-coverflow .team-text h4 {
  font-size: 1.7rem;
}

.swiper-slide-active .team-coverflow:hover .team-box-content {
  opacity: 1;
  visibility: visible;
  border-radius: 0;
  bottom: 0;
}

.team-box-content {
  background-color: #f1c30f;
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  padding: 20px 0;
  bottom: -20%;
  z-index: 1;
  transition: all linear 0.4s;
}

.team-coverflow .team-img {
  overflow: hidden;
  width: 100%;
}

.swiper-slide-active .team-coverflow:hover img {
  transition: scale(1.1);
}

.team-progress {
  padding-bottom: 1rem;
}

.team-progress .progress-item:not(:last-child) {
  margin-bottom: 1.7rem;
}

.team-progress .progress {
  height: 12px;
  margin-top: 12px;
  overflow: hidden;
  border-radius: 50px;
  background-color: #eaeaea;
}

.team-progress /.progress-item .count {
  font-weight: 500;
}

.team-progress .progress-bar {
  height: 100%;
  border-radius: 50px;
  background-color: #f1c30f;
}

.w-77 {
  width: 77% !important;
}

.w-82 {
  width: 82% !important;
}

.w-83 {
  width: 93% !important;
}

.team-member-slider {
  padding-bottom: 165px;
}

.swiper-button-next,
.swiper-button-prev {
  background-image: none;
}

.slider-arrows {
  border-radius: 50px;
  background: #f1c30f;
  color: #fff;
  font-weight: bold;
  width: 45px;
  height: 45px;
  line-height: 40px;
  transition: 1s;
  border: 4px solid #f1c30f;
}

.team-member-slider .swiper-slide-next {
  transform: scale(1.1) translate3d(-25%, 0px, -155.962px) rotateX(0deg) rotateY(-2.9808deg) !important;
  padding-left: 15px;
  cursor: pointer;
}

.team-member-slider .swiper-slide-prev {
  transform: scale(1.1) translate3d(25%, 0px, -155.962px) rotateX(0deg) rotateY(2.9808deg) !important;
  padding-left: 15px;
  cursor: pointer;
}

.team-member-slider .swiper-slide-active {
  transform: translateY(25%) !important;
  transition: 300ms;
  opacity: 1 !important;
}

.team-member-slider .swiper-slide {
  opacity: 0.5;
}

.services {
  background-image: url(../assets/img/parallax4.jpg);
  padding-top: 130px;
  padding-bottom: 130px;
  background-attachment: fixed;
}

.services h2 {
  font-family: "Oswald", sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.services p {
  font-family: "Oswald", sans-serif;
  font-size: 1em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.services a {
  padding: 15px 30px;
  background: transparent;
  border-radius: 50px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  color: #fff;
  font-size: 13px;
  transition: all 0.5 ease-in;
  border: 2px solid white;
}

.services a:hover {
  padding: 15px 30px;
  background: #fff;
  border-radius: 50px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  letter-spacing: 2xp;
  color: #333;
  font-size: 13px;
}

#work {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  color: #535353;
  padding-top: 50px;
  overflow-x: hidden;
}

#work h5 {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  color: #ff1737;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

#work h2 {
  font-size: 2.3rem;
  text-transform: uppercase;
  font-weight: 610;
  color: #18191d;
  line-height: 1.2;
  max-width: 650px;
  margin: 0 auto 1.5rem;
  font-family: "Oswald", sans-serif;
}

#work p.desc {
  max-width: 950px;
  margin: 0 auto;
  padding-bottom: 40px;
  font-family: "Roboto Condensed", sans-serif;
}

#work .cbp-filter-style:after {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #f1c30f;
  position: relative;
  left: 12px;
  top: -2.5px;
  transform: rotate(45deg);
}

#work .cbp-l-filters-alignCenter {
  margin-bottom: 40px;
}

#work .cbp-l-filters-alignCenter .cbp-filter-item.cbp-filter-item-active {
  color: #f1c30f;
}

#work .cbp-l-filters-alignCenter .cbp-filter-counter {
  background-color: #f1c30f;
}

#work .cbp-l-filters-alignCenter .cbp-filter-counter {
  background-color: #f1c30f;
}

#work .cbp-l-filters-alignCenter .cbp-filter-counter:after {
  border-top: 4px solid #f1c30f;
}

#work .cbp-l-filters-alignCenter .cbp-filter-item {
  color: #18191d;
  font-family: "Oswald", sans-serif;
  font-size: 15px;
  margin: 10px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#work .cbp-caption-zoom .cbp-caption-activeWrap {
  opacity: 0;
  top: 5%;
  left: 5%;
  bottom: 5%;
  visibility: hidden;
  z-index: 1;
  background: rgba(255, 255, 255, 0.88);
  transition: all 0.4s cubic-bezier(0.57, 0.21, 0.79.1.25);
}

#work .cbp-caption-active .cbp-caption-activeWrap {
  background: rgba(255, 255, 255, 0.88);
  width: 0;
  position: absolute;
  z-index: 1;
  height: 90%;
}

#work .cbp-item:hover .cbp-caption-activeWrap {
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  transition: all 0.4s cubic-bezier(0.57, 0.21, 0.79, 1.25);
  color: #f1c30f;
}

.post-slide {
  margin: 0 10px;
}

.post-slide .post-info {
  padding: 5px 0;
  margin: 0;
  list-style: none;
}

.post-slide .post-info li {
  display: inline-block;
  margin: 0 5px;
}

.post-slide .post-info li i {
  margin-right: 8px;
}

.post-slide .post-info li a {
  font-size: 11px;
  font-weight: bold;
  color: dimgray;
  text-transform: uppercase;
}

.post-slide .post-info li a:hover {
  color: #1dcfd1;
  text-decoration: none;
}

.post-slide .post-img {
  position: relative;
}

.post-slide .post-img:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 0.4s linear 0s;
}

.post-slide:hover .post-img:before {
  opacity: 1;
}

.post-slide .post-img img {
  width: 100%;
  height: auto;
}

.post-slide .read {
  position: absolute;
  bottom: 30px;
  left: 50px;
  font-size: 14px;
  color: 14px;
  color: #fff;
  text-transform: capitalize;
  opacity: 0;
  transition: opacity 0.4s linear 0s;
}

.post-slide:hover .read {
  opacity: 1;
}

.post-slide .read:hover {
  text-decoration: none;
  color: #1dcfd1;
}

.post-slide .post-content {
  padding: 40px 0;
  position: relative;
}

.post-slide .post-author {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  position: absolute;
  top: -45px;
  right: 10px;
  overflow: hidden;
  border: 4px solid #fff;
}

.post-slide .post-author img {
  width: 100%;
  height: auto;
}

.post-slide .post-title {
  font-size: 14px;
  font-weight: bold;
  color: #1dcfd1;
  margin: 0 0 10px 0;
  text-transform: uppercase;
  transition: all 0.3s linear 0s;
}

.post-slide .post-title:after {
  content: "";
  width: 25px;
  display: block;
  margin-top: 10px;
  border-bottom: 4px solid #333;
}

.post-slide .post-description {
  display: 14px;
  color: #555;
  margin-bottom: 20px;
  font-family: "Roboto Condensed", sans-serif;
}

#clients-list {
  padding: 45px 0 0 0;
  margin-left: 115px;
}

.client {
  padding: 0 10px;
  max-width: 170px;
  margin: 0 auto;
  line-height: 100px;
}

.client img {
  display: inline-block !important;
}

#clients h5 {
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}

#clients h2 {
  font-size: 34px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

footer {
  background-color: #1c1c1d;
  padding-top: 30px;
  border-top: 5px solid rgba(0, 0, 0, 0.1);
}

#contact-left h2,
#contact-right h3 {
  color: #fff !important;
  font-size: 27px;
  font-weight: 400;
  letter-spacing: 2px;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
}




#contact-left p {
  color: #fff;
  margin-bottom: 30px;
  font-family: "Roboto Condensed", sans-serif;
}

#contact-info {
  background-image: url(/assets/img/world-map.png);
  background-repeat: no-repeat;
  background-size: contain;
}

address {
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
}

address strong {
  font-size: 17px;
}

form .form-control {
  background: transparent;
  border-radius: 0;
  border-color: #fff;
  font-size: 17px;
  font-weight: 300;
  padding: 8px 17px;
  margin-bottom: 20px;
  color: #fff;
}




#footer-bottom{
    background-color: rgba(0, 0, 0, 0.1);
    padding: 30px 0;
    margin-top: 59px;
}

#footer-copyrights p{
    margin: 0;
    color: #fff;
}

#footer-menu{
    float: left;
    color: #fff;
    font-size: 17px;
    font-weight: 300;
}

#footer-menu ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

#footer-menu ul li{
    display: inline-block;
}

#footer-menu a{
    color: #fff;
    font-size: 17px;
    font-weight: 300;
    margin: 0 10px;
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
}

#footer-menu a:hover{
    color: orange;
}

ul.social-list{
    display: flex;
    color: #fff;
}

ul.social-list li a {
    margin-right: 10px;
    color: #fff;
}
#btn-white{
   border-color: #fff;
    color: #fff;
}

#btn-white:hover{
    border-color: #fff;
     color: #fff;
 }

.btn-general{
    border-width: 2px;
    border-radius: 0;
    padding: 12px 25px 12px 25px;
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Roboto Condensed", sans-serif;
    color: #fff;
    border-color: #fff;
}

#footer-copyrights p{
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
}


















