.login-page {
	height: 100%;
}

.login-page body {
	height: 100%;
	display: flex;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #f5f5f5;
}

.form-signin {
	%container {
		position: relative;
 		height: auto;
  		padding: 10px;
		font-size: 16px;
	}

	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto;
	@extend %container;

	.form-control {
		@extend %container;

		&:focus {
			z-index: 2;
		}

		&[type="email"] {
			margin-bottom: -1px;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}

		&[type="password"] {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
	}

	.invalid-feedback {
		text-align: left;
		margin-bottom: 15px;
	}
}
